@{
    Layout = "_AuthLayout";
}
<div class="sidenav">
    <h2>ADMIN Site</h2>
    <p>Sample Text</p>
    <p />
    <a href="/Home/NewPost"><strong>New Post</strong></a>
    <p />
    <input type="text" id="search" placeholder="Search..." />
    <p></p>
    <a href="#" id="nav-left"><strong><</strong></a> Page <span id="pagenum"> </span><a href="#" id="nav-right"><strong>></strong></a>

</div>
<div class="feed" id="content"></div>


<script type="text/babel" src="@Url.Content("~/js/Index.js")">
</script>