@{
    Layout = "_Layout";
}
    <div class="sidenav">
        <h2>My Site</h2>
        <p>Sample Text</p>
        <input type="text" placeholder="Search..." />

    </div>
    <div class="feed" id="content"></div>

    
    <script type="text/babel" src="@Url.Content("~/js/index.js")"></script>