@{
    Layout = "_Layout";
}

<form action="Authenticate" method="post" class="login-dialog" id="content">
    <h1>Owner Login</h1>
    <p style="color: red; padding: 0px">Login failed, username or password not valid.</p>
    <p><input type="text" name="username" placeholder="Username" /></p>
    <p><input type="password" name="password" placeholder="Password" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>