@{
    Layout = "_Layout";
}

<div class="login-dialog" id="content">
    <h1>Owner Login</h1>
    <p><input type="text" placeholder="Username" /></p>
    <p><input type="password" placeholder="Password" /></p>
    <p><button id="login-button">Login</button></p>
</div>
