@{
    Layout = "_AuthLayout";
}
<div class="sidenav">
    <h2>My Site</h2>
    <p>Sample Text</p>
    <input type="text" placeholder="Search..." />

</div>
<div class="solofeed" id="content"></div>


<script type="text/babel" src="@Url.Content("~/js/AuthPost.js")">
</script>